.root {
    -fx-background-color: #474747;
}

.label {
    -fx-text-fill: white;
}

.split-pane{
    -fx-background-color: #474747;
}

.chart {
    -fx-background-color: #474747;
}

.chart-title {
    -fx-font-size: 1.4em;
    -fx-text-fill: white;
}

.chart-line-symbol {
    -fx-background-insets: 0, 2;
    -fx-background-radius: 7px, 5px;
    -fx-padding          : 7px;
}
.chart-line-symbol:hover {
    /*-fx-effect: dropshadow(two-pass-box, white, 10, 0, 0, 0);*/
}

.chart-pie{
    -fx-legend-visible: false;
    -fx-background-fills: transparent;
    -fx-pie-label-visible: false;
    -fx-label-line-length: 0;
}


.axis {
    -fx-font-size: 1em;

    -fx-tick-label-fill: white;
    -fx-font-family: Tahoma;
    -fx-tick-length: 3;
    -fx-minor-tick-length: 0;
}

.separator {
    -fx-background-color: dodgerblue;

}

.separator *line{
    -fx-border-width: 0px;
}
.axis-label {
    -fx-cell-size: 50;
}

.list-cell {
    -fx-background-color: #474747;
    -fx-text-fill: white;
}

.list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {

    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
}

.list-view{
    -fx-background-color: #474747;
}

